- breadcrumb :syllabus_new, @course , :link_last => true     
- model_class = Syllabus
.page-header
  %h4=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
= simple_form_for @syllabus, url: course_syllabuses_path(@course), html: { class: "form form-horizontal syllabus" } do |f|
  = render "form", {:f => f}
   